jwt:
  access:
    token:
      expiration:
        seconds: 3600 #60m
  refresh:
    token:
      expiration:
        seconds: 604800 #7-day
  token:
    secret-key: ${JWT_SECRET_KEY}

# DB
spring:
  datasource:
    url: ${MYSQL_URL}?useSSL=false&useUnicode=true&serverTimezone=Asia/Seoul
    username: ${MYSQL_USERNAME}
    password: ${MYSQL_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
      dialect: org.hibernate.dialect.MySQLDialect

springdoc:
  packages-to-scan: begin_a_gain.omokwang  # Swagger 문서를 생성할 컨트롤러가 포함된 패키지를 지정
  paths-to-match: /**
  api-docs:
    path: /v3/api-docs  # 생성된 API 문서의 경로를 지정
  swagger-ui:
    groups-order: DESC # path, query, body, response 순으로 출력
    tags-sorter: alpha # 태그를 알파벳 순으로 정렬
    operations-sorter: method  # delete - get - patch - post - put 순으로 정렬, alpha를 사용하면 알파벳 순으로 정렬 가능

management:
  endpoints:
    web:
      exposure:
        include:
          - health
          - info
  endpoint:
    health:
      show-details: always

apple:
  client-id: ${APPLE_CLIENT_ID:}
